In [1]:
%pylab inline
from pypeds import ipeds 
import pandas as pd
from sequence_utils import match_string_lists

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('./name_matches.csv')
a_names = df.a_names.values

In [3]:
YEARS = [2018]
ic = ipeds.IC(years = YEARS)

In [4]:
hd = ipeds.HD(years = YEARS)

In [5]:
hd.extract(), ic.extract()

(None, None)

In [6]:
hd_df = hd.load()
ic_df = ic.load()

In [7]:
ic_df.to_csv('ic_df.csv')

In [8]:
ic_df.head()

,unitid,peo1istr,peo2istr,peo3istr,peo4istr,peo5istr,peo6istr,cntlaffi,pubprime,pubsecon,...,xactcm75,actcm75,xacten25,acten25,xacten75,acten75,xactmt25,actmt25,xactmt75,actmt75
0,100654.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,...,R,19.0,R,14.0,R,20.0,R,15.0,R,18.0
1,100663.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,...,R,29.0,R,22.0,R,31.0,R,19.0,R,26.0
2,100690.0,0.0,1.0,0.0,0.0,0.0,0.0,4.0,-2.0,-2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100706.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,2.0,0.0,...,R,31.0,R,25.0,R,34.0,R,24.0,R,30.0
4,100724.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,...,R,20.0,R,14.0,R,20.0,R,15.0,R,18.0

In [9]:
hd_df.head()

,unitid,instnm,ialias,addr,city,stabbr,zip,fips,obereg,chfnm,...,necta,countycd,countynm,cngdstcd,longitud,latitude,dfrcgid,dfrcuscg,survey_year,fall_year
0,100654.0,Alabama A & M University,AAMU,4900 Meridian Street,Normal,AL,35762,1.0,5.0,"Dr. Andrew Hugine, Jr.",...,-2.0,1089.0,Madison County,105.0,-86.568502,34.783368,119.0,1.0,2018.0,2018.0
1,100663.0,University of Alabama at Birmingham,,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1.0,5.0,Ray L. Watts,...,-2.0,1073.0,Jefferson County,107.0,-86.799345,33.505697,105.0,1.0,2018.0,2018.0
2,100690.0,Amridge University,Southern Christian University |Regions University,1200 Taylor Rd,Montgomery,AL,36117-3553,1.0,5.0,Michael C.Turner,...,-2.0,1101.0,Montgomery County,102.0,-86.174010,32.362609,137.0,2.0,2018.0,2018.0
3,100706.0,University of Alabama in Huntsville,UAH |University of Alabama Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1.0,5.0,Robert A. Altenkirch,...,-2.0,1089.0,Madison County,105.0,-86.640449,34.724557,109.0,2.0,2018.0,2018.0
4,100724.0,Alabama State University,,915 S Jackson Street,Montgomery,AL,36104-0271,1.0,5.0,Quinton T. Ross,...,-2.0,1101.0,Montgomery County,107.0,-86.295677,32.364317,127.0,1.0,2018.0,2018.0

In [10]:
_all = ic_df.merge(hd_df, how='inner', on = "unitid")

In [11]:
def col_search(name, df = _all):
    return [col for col in df.columns if name.lower() in col.lower()]

In [12]:
col_search('act')

['xactnum',
 'actnum',
 'xactpct',
 'actpct',
 'xactcm25',
 'actcm25',
 'xactcm75',
 'actcm75',
 'xacten25',
 'acten25',
 'xacten75',
 'acten75',
 'xactmt25',
 'actmt25',
 'xactmt75',
 'actmt75 ',
 'act',
 'cyactive']

In [12]:
import ray
from tqdm import tqdm

In [13]:
ray.init()

2020-10-15 15:50:59,263	INFO services.py:1164 -- View the Ray dashboard at http://127.0.0.1:8266

{'node_ip_address': '192.168.1.3',
 'raylet_ip_address': '192.168.1.3',
 'redis_address': '192.168.1.3:6379',
 'object_store_address': '/tmp/ray/session_2020-10-15_15-50-58_794104_63500/sockets/plasma_store',
 'raylet_socket_name': '/tmp/ray/session_2020-10-15_15-50-58_794104_63500/sockets/raylet',
 'webui_url': '127.0.0.1:8266',
 'session_dir': '/tmp/ray/session_2020-10-15_15-50-58_794104_63500',
 'metrics_export_port': 56613}

In [14]:
def levenshtein(s1, s2):
    if len(s1) < len(s2):
        s1, s2 = s2, s1

    if len(s2) == 0:
        return len(s1)

    previous_row = range(len(s2) + 1)
    for i, c1 in enumerate(s1):
        current_row = [i + 1]
        for j, c2 in enumerate(s2):
            insertions = previous_row[j + 1] + 1
            deletions = current_row[j] + 1
            substitutions = previous_row[j] + (c1 != c2)
            current_row.append(min(insertions, deletions, substitutions))
        previous_row = current_row

    return previous_row[-1]/float(len(s1))


@ray.remote
def find_best_match(word, other_word_list):
    best_distance = np.inf
    best_match = ''
    for other_word in other_word_list:
        distance = levenshtein(word, other_word)
        if distance < best_distance:
            best_distance = distance
            best_match = other_word

    return (word, best_match, best_distance)
        

def match_string_lists_parallel(a,b):
    best_matches = [find_best_match.remote(word, b) for word in tqdm(a)]
    return best_matches

In [15]:
match_futures = match_string_lists_parallel(a_names, _all.instnm.values)
matches = ray.get(match_futures)
matches_df = pd.DataFrame.from_records(matches)
matches_df.to_csv('ipeds_matches.csv')

100%|██████████| 502/502 [00:01<00:00, 383.22it/s]

In [109]:
matches

[('North Park University', 'North Park University', 0.0),
 ('Oral Roberts University', 'Oral Roberts University', 0.0),
 ('Lipscomb University', 'Lipscomb University', 0.0),
 ('Saginaw Valley State University', 'Saginaw Valley State University', 0.0),
 ('Clemson University', 'Clemson University', 0.0),
 ('Pfeiffer University', 'Pfeiffer University', 0.0),
 ('Elon University', 'Elon University', 0.0),
 ('Assumption College', 'Assumption College', 0.0),
 ('Canisius College', 'Canisius College', 0.0),
 ('Colorado State University-Pueblo', 'Colorado State University-Pueblo', 0.0),
 ('College of Mount St Joseph', 'College of St Joseph', 0.23076923076923078),
 ('University of Wisconsin-Whitewater',
  'University of Wisconsin-Whitewater',
  0.0),
 ('University of Indianapolis', 'University of Indianapolis', 0.0),
 ('Western Connecticut State University',
  'Western Connecticut State University',
  0.0),
 ('Ottawa University-Ottawa', 'Ottawa University-Ottawa', 0.0),
 ('Houghton College', 'Houghton College', 0.0),
 ('California State University-San Marcos',
  'California State University-San Marcos',
  0.0),
 ('University of California-Irvine', 'University of California-Irvine', 0.0),
 ('Concordia University-Texas',
  'Concordia University Texas',
  0.038461538461538464),
 ('Fort Hays State University', 'Fort Hays State University', 0.0),
 ('Clarke University', 'Clarke University', 0.0),
 ('The University of Tampa', 'The University of Tampa', 0.0),
 ('Millikin University', 'Millikin University', 0.0),
 ('Earlham College', 'Earlham College', 0.0),
 ('New Jersey City University', 'New Jersey City University', 0.0),
 ('Howard University', 'Howard University', 0.0),
 ('Monmouth College', 'Monmouth College', 0.0),
 ('Hiram College', 'Hiram College', 0.0),
 ('Fairfield University', 'Fairfield University', 0.0),
 ('Winthrop University', 'Winthrop University', 0.0),
 ('Stony Brook University', 'Stony Brook University', 0.0),
 ('LIU Brooklyn', 'Allen School-Brooklyn', 0.5714285714285714),
 ('University of Denver', 'University of Denver', 0.0),
 ('Michigan State University', 'Michigan State University', 0.0),
 ('New York Institute of Technology', 'New York Institute of Technology', 0.0),
 ('Creighton University', 'Creighton University', 0.0),
 ('Waynesburg University', 'Waynesburg University', 0.0),
 ('North Central College', 'North Central College', 0.0),
 ('University of New Haven', 'University of New Haven', 0.0),
 ('Anna Maria College', 'Anna Maria College', 0.0),
 ('Arkansas Tech University', 'Arkansas Tech University', 0.0),
 ('University of Akron Main Campus', 'University of Akron Main Campus', 0.0),
 ('University of Massachusetts-Lowell',
  'University of Massachusetts-Lowell',
  0.0),
 ("Saint Joseph's College of Maine", "Saint Joseph's College of Maine", 0.0),
 ('High Point University', 'High Point University', 0.0),
 ('Thomas More College', 'Thomas More College', 0.0),
 ('Gonzaga University', 'Gonzaga University', 0.0),
 ('Centenary College', 'Century College', 0.17647058823529413),
 ('Colby College', 'Colby College', 0.0),
 ('Albertus Magnus College', 'Albertus Magnus College', 0.0),
 ('Emory University', 'Emory University', 0.0),
 ('Johns Hopkins University', 'Johns Hopkins University', 0.0),
 ('SUNY at Binghamton', 'SUNY at Albany', 0.5),
 ('Rutgers University-Camden', 'Rutgers University-Camden', 0.0),
 ('Spring Hill College', 'Spring Hill College', 0.0),
 ('Manhattan College', 'Manhattan College', 0.0),
 ('Marshall University', 'Marshall University', 0.0),
 ('Northwest Nazarene University', 'Northwest Nazarene University', 0.0),
 ('Drake University', 'Drake University', 0.0),
 ('Northeastern University', 'Northeastern University', 0.0),
 ('Western New England University', 'Western New England University', 0.0),
 ('University of Redlands', 'University of Redlands', 0.0),
 ('Chestnut Hill College', 'Chestnut Hill College', 0.0),
 ('Northern Illinois University', 'Northern Illinois University', 0.0),
 ('Wells College', 'Wells College', 0.0),
 ('University of Pittsburgh-Pittsburgh Campus',
  'University of Pittsburgh-Pittsburgh Campus',
  0.0),
 ('University of Evansville', 'University of Evansville', 0.0),
 ('San Diego State University', 'San Diego State University', 0.0),
 ('Lewis University', 'Lewis University', 0.0),
 ('Florida International University', 'Florida International University', 0.0),
 ('Tennessee Wesleyan College',
  'Kentucky Wesleyan College',
  0.2692307692307692),
 ('Fairleigh Dickinson University-Metropolitan Campus',
  'Fairleigh Dickinson University-Metropolitan Campus',
  0.0),
 ('Colorado College', 'Colorado College', 0.0),
 ('University of Michigan-Dearborn', 'University of Michigan-Dearborn', 0.0),
 ('Central Christian College of Kansas',
  'Central Christian College of Kansas',
  0.0),
 ('North Carolina Wesleyan College', 'North Carolina Wesleyan College', 0.0),
 ('George Mason University', 'George Mason University', 0.0),
 ("Saint Peter's University", "Saint Peter's University", 0.0),
 ('University of Louisville', 'University of Louisville', 0.0),
 ('Bryant University', 'Bryant University', 0.0),
 ('Wartburg College', 'Wartburg College', 0.0),
 ('Bradley University', 'Bradley University', 0.0),
 ('Johnson State College', 'Gordon State College', 0.19047619047619047),
 ('University of Montevallo', 'University of Montevallo', 0.0),
 ('Trinity College', 'Trinity College', 0.0),
 ('Virginia Wesleyan College',
  'West Virginia Wesleyan College',
  0.16666666666666666),
 ('Tiffin University', 'Tiffin University', 0.0),
 ('Bloomsburg University of Pennsylvania',
  'Bloomsburg University of Pennsylvania',
  0.0),
 ('Newman University', 'Newman University', 0.0),
 ('Villanova University', 'Villanova University', 0.0),
 ('Washington and Lee University', 'Washington and Lee University', 0.0),
 ('Cleveland State University', 'Cleveland State University', 0.0),
 ('North Greenville University', 'North Greenville University', 0.0),
 ('Albion College', 'Albion College', 0.0),
 ('Sewanee-The University of the South',
  'The University of the South',
  0.22857142857142856),
 ('Curry College', 'Curry College', 0.0),
 ('Keystone College', 'Keystone College', 0.0),
 ('Western Illinois University', 'Western Illinois University', 0.0),
 ('University of North Florida', 'University of North Florida', 0.0),
 ('Lehigh University', 'Lehigh University', 0.0),
 ('Menlo College', 'Menlo College', 0.0),
 ('University of Pittsburgh-Pittsburgh Campus',
  'University of Pittsburgh-Pittsburgh Campus',
  0.0),
 ('Dartmouth College', 'Dartmouth College', 0.0),
 ('Bentley University', 'Bentley University', 0.0),
 ('New England College', 'New England College', 0.0),
 ('Belmont University', 'Belmont University', 0.0),
 ('Concord University', 'Concord University', 0.0),
 ('Oklahoma Christian University', 'Oklahoma Christian University', 0.0),
 ('Macalester College', 'Macalester College', 0.0),
 ('Elizabethtown College', 'Elizabethtown College', 0.0),
 ('Monmouth College', 'Monmouth College', 0.0),
 ('University of Chicago', 'University of Chicago', 0.0),
 ('University of San Diego', 'University of San Diego', 0.0),
 ('Truman State University', 'Truman State University', 0.0),
 ('East Tennessee State University', 'East Tennessee State University', 0.0),
 ('Bucknell University', 'Bucknell University', 0.0),
 ('McKendree University', 'McKendree University', 0.0),
 ('University of Pittsburgh-Pittsburgh Campus',
  'University of Pittsburgh-Pittsburgh Campus',
  0.0),
 ('Syracuse University', 'Syracuse University', 0.0),
 ('Doane College-Crete', 'Dine College', 0.42105263157894735),
 ('Lindenwood University', 'Lindenwood University', 0.0),
 ('Rogers State University', 'Rogers State University', 0.0),
 ('Indiana University-Purdue University-Fort Wayne',
  'Indiana University-Purdue University-Indianapolis',
  0.22448979591836735),
 ('SUNY College at Brockport', 'SUNY College at Brockport', 0.0),
 ('SUNY College at Oswego', 'SUNY College at Oswego', 0.0),
 ('University of St Francis', 'University of St Francis', 0.0),
 ('Mount Olive College', 'Mount Holyoke College', 0.23809523809523808),
 ('Bridgewater College', 'Bridgewater College', 0.0),
 ('Case Western Reserve University', 'Case Western Reserve University', 0.0),
 ('SUNY Maritime College', 'SUNY Maritime College', 0.0),
 ('Knox College', 'Knox College', 0.0),
 ('Adrian College', 'Adrian College', 0.0),
 ('Dominican University', 'Dominican University', 0.0),
 ('Newberry College', 'Newberry College', 0.0),
 ('Campbell University', 'Campbell University', 0.0),
 ('Wake Forest University', 'Wake Forest University', 0.0),
 ('Boston College', 'Boston College', 0.0),
 ('Kenyon College', 'Kenyon College', 0.0),
 ('Whitman College', 'Whitman College', 0.0),
 ('West Virginia University', 'West Virginia University', 0.0),
 ('Lasell College', 'Lasell College', 0.0),
 ('Robert Morris University', 'Robert Morris University', 0.0),
 ('Purdue University-Calumet Campus', 'Purdue University-Main Campus', 0.1875),
 ('CUNY Queens College', 'CUNY Queens College', 0.0),
 ('The University of Texas at Dallas',
  'The University of Texas at Dallas',
  0.0),
 ('CUNY New York City College of Technology',
  'CUNY New York City College of Technology',
  0.0),
 ('Houston Baptist University', 'Houston Baptist University', 0.0),
 ('Hartwick College', 'Hartwick College', 0.0),
 ('Furman University', 'Furman University', 0.0),
 ('Wentworth Institute of Technology',
  'Wentworth Institute of Technology',
  0.0),
 ('Indiana University-Kokomo', 'Indiana University-Kokomo', 0.0),
 ('Worcester Polytechnic Institute', 'Worcester Polytechnic Institute', 0.0),
 ('Millersville University of Pennsylvania',
  'Millersville University of Pennsylvania',
  0.0),
 ('Washington College', 'Washington College', 0.0),
 ('The Evergreen State College', 'The Evergreen State College', 0.0),
 ('West Virginia Wesleyan College', 'West Virginia Wesleyan College', 0.0),
 ('Ohio Northern University', 'Ohio Northern University', 0.0),
 ('American University', 'American University', 0.0),
 ('Notre Dame College', 'Notre Dame College', 0.0),
 ('Norwich University', 'Norwich University', 0.0),
 ('University of Wisconsin-Whitewater',
  'University of Wisconsin-Whitewater',
  0.0),
 ('Palm Beach Atlantic University', 'Palm Beach Atlantic University', 0.0),
 ('Davidson College', 'Davidson College', 0.0),
 ('SUNY College at Geneseo', 'SUNY College at Geneseo', 0.0),
 ('The College of Saint Rose', 'The College of Saint Rose', 0.0),
 ('James Madison University', 'James Madison University', 0.0),
 ('University of Mount Union', 'University of Mount Union', 0.0),
 ('Washington College', 'Washington College', 0.0),
 ('Hofstra University', 'Hofstra University', 0.0),
 ('Hawaii Pacific University', 'Hawaii Pacific University', 0.0),
 ('Huntingdon College', 'Huntingdon College', 0.0),
 ('Rider University', 'Rider University', 0.0),
 ('St Andrews University', 'St. Andrews University', 0.045454545454545456),
 ('Valparaiso University', 'Valparaiso University', 0.0),
 ('Hamilton College', 'Hamilton College', 0.0),
 ('Queens University of Charlotte', 'Queens University of Charlotte', 0.0),
 ('Georgia State University', 'Georgia State University', 0.0),
 ('Crown College', 'Crown College', 0.0),
 ('University of Minnesota-Morris', 'University of Minnesota-Morris', 0.0),
 ('Milligan College', 'Milligan College', 0.0),
 ('University of California-Santa Barbara',
  'University of California-Santa Barbara',
  0.0),
 ('University of San Francisco', 'University of San Francisco', 0.0),
 ('Carleton College', 'Carleton College', 0.0),
 ('Greensboro College', 'Greensboro College', 0.0),
 ('The University of Texas at Tyler', 'The University of Texas at Tyler', 0.0),
 ('Neumann University', 'Neumann University', 0.0),
 ('Grinnell College', 'Grinnell College', 0.0),
 ('Rockford University', 'Rockford University', 0.0),
 ('Saint Francis University', 'Saint Francis University', 0.0),
 ('Trine University', 'Trine University', 0.0),
 ('Willamette University', 'Willamette University', 0.0),
 ("St Mary's University", "St. Mary's University", 0.047619047619047616),
 ('Fort Lewis College', 'Fort Lewis College', 0.0),
 ('Edward Waters College', 'Edward Waters College', 0.0),
 ('Southern Virginia University', 'Southern Virginia University', 0.0),
 ('Roanoke College', 'Roanoke College', 0.0),
 ('Wingate University', 'Wingate University', 0.0),
 ('Adams State University', 'Adams State University', 0.0),
 ('Harvard University', 'Harvard University', 0.0),
 ('Eastern University', 'Eastern University', 0.0),
 ('Ohio Dominican University', 'Ohio Dominican University', 0.0),
 ('Susquehanna University', 'Susquehanna University', 0.0),
 ('Bryan College-Dayton', 'Bryan College-Dayton', 0.0),
 ('Providence College', 'Providence College', 0.0),
 ('Hendrix College', 'Hendrix College', 0.0),
 ('Central College', 'Central College', 0.0),
 ('Haverford College', 'Haverford College', 0.0),
 ('Berry College', 'Berry College', 0.0),
 ('Maine Maritime Academy', 'Maine Maritime Academy', 0.0),
 ('Florida Southern College', 'Florida Southern College', 0.0),
 ('University of Notre Dame', 'University of Notre Dame', 0.0),
 ('Messiah College', 'Messiah College', 0.0),
 ('University of Nebraska at Omaha', 'University of Nebraska at Omaha', 0.0),
 ('Williams College', 'Williams College', 0.0),
 ('Carnegie Mellon University', 'Carnegie Mellon University', 0.0),
 ('Christopher Newport University', 'Christopher Newport University', 0.0),
 ('Johnson & Wales University-Providence',
  'Johnson & Wales University-Providence',
  0.0),
 ('Northern Kentucky University', 'Northern Kentucky University', 0.0),
 ('Springfield College', 'Springfield College', 0.0),
 ('University of Hartford', 'University of Hartford', 0.0),
 ('Centre College', 'Centre College', 0.0),
 ('Holy Cross College', 'Holy Cross College', 0.0),
 ('Loyola University Chicago', 'Loyola University Chicago', 0.0),
 ('Brown University', 'Brown University', 0.0),
 ('Brevard College', 'Brevard College', 0.0),
 ('Georgetown University', 'Georgetown University', 0.0),
 ('Clayton  State University', 'Clayton  State University', 0.0),
 ('Pennsylvania State University-Penn State Shenango',
  'Pennsylvania State University-Penn State Shenango',
  0.0),
 ('California State University-Bakersfield',
  'California State University-Bakersfield',
  0.0),
 ('Middlebury College', 'Middlebury College', 0.0),
 ('SUNY at Fredonia', 'SUNY at Fredonia', 0.0),
 ('Mercy College', 'Mercy College', 0.0),
 ('California State University-Dominguez Hills',
  'California State University-Dominguez Hills',
  0.0),
 ('Eastern New Mexico University-Main Campus',
  'Eastern New Mexico University-Main Campus',
  0.0),
 ('Pennsylvania State University-Penn State Shenango',
  'Pennsylvania State University-Penn State Shenango',
  0.0),
 ('Eastern Illinois University', 'Eastern Illinois University', 0.0),
 ('Allegheny College', 'Allegheny College', 0.0),
 ('Mars Hill University', 'Mars Hill University', 0.0),
 ('Piedmont College', 'Piedmont College', 0.0),
 ('Eastern Connecticut State University',
  'Eastern Connecticut State University',
  0.0),
 ('Nova Southeastern University', 'Nova Southeastern University', 0.0),
 ('Ouachita Baptist University', 'Ouachita Baptist University', 0.0),
 ('Defiance College', 'Defiance College', 0.0),
 ('Franklin College', 'Franklin College', 0.0),
 ('Missouri Southern State University',
  'Missouri Southern State University',
  0.0),
 ('University of Scranton', 'University of Scranton', 0.0),
 ('Covenant College', 'Covenant College', 0.0),
 ('Mount Aloysius College', 'Mount Aloysius College', 0.0),
 ('Brewton-Parker College', 'Brewton-Parker College', 0.0),
 ('Holy Family University', 'Holy Family University', 0.0),
 ("Bard College at Simon's Rock", "Bard College at Simon's Rock", 0.0),
 ('Connecticut College', 'Connecticut College', 0.0),
 ('University of South Florida-Sarasota-Manatee',
  'University of South Florida-Sarasota-Manatee',
  0.0),
 ('Le Moyne College', 'Le Moyne College', 0.0),
 ('LaGrange College', 'LaGrange College', 0.0),
 ("The Master's College and Seminary",
  "The Master's University and Seminary",
  0.25),
 ('University of South Carolina-Upstate',
  'University of South Carolina-Upstate',
  0.0),
 ('Wofford College', 'Wofford College', 0.0),
 ('St Lawrence University', 'St Lawrence University', 0.0),
 ('Massachusetts Institute of Technology',
  'Massachusetts Institute of Technology',
  0.0),
 ('Edgewood College', 'Edgewood College', 0.0),
 ('Sacred Heart University', 'Sacred Heart University', 0.0),
 ('Thomas University', 'Thomas University', 0.0),
 ('Rockhurst University', 'Rockhurst University', 0.0),
 ('Gordon College', 'Gordon College', 0.0),
 ('Temple University', 'Temple University', 0.0),
 ('University of Delaware', 'University of Delaware', 0.0),
 ('California State University-Stanislaus',
  'California State University-Stanislaus',
  0.0),
 ('Rhode Island College', 'Rhode Island College', 0.0),
 ('Chowan University', 'Chowan University', 0.0),
 ('University of New England', 'University of New England', 0.0),
 ('Midwestern State University', 'Midwestern State University', 0.0),
 ('Southern New Hampshire University',
  'Southern New Hampshire University',
  0.0),
 ('Colorado Mesa University', 'Colorado Mesa University', 0.0),
 ('Duke University', 'Duke University', 0.0),
 ('University of Wisconsin-Green Bay',
  'University of Wisconsin-Green Bay',
  0.0),
 ('Taylor University', 'Taylor University', 0.0),
 ('Cedarville University', 'Cedarville University', 0.0),
 ('Webster University', 'Webster University', 0.0),
 ('Catawba College', 'Catawba College', 0.0),
 ('California State University-East Bay',
  'California State University-East Bay',
  0.0),
 ('Ohio Wesleyan University', 'Ohio Wesleyan University', 0.0),
 ('Presbyterian College', 'Presbyterian College', 0.0),
 ('Wesley College', 'Wesley College', 0.0),
 ('Radford University', 'Radford University', 0.0),
 ('Bowling Green State University-Main Campus',
  'Bowling Green State University-Main Campus',
  0.0),
 ('Martin Luther College', 'Martin Luther College', 0.0),
 ('Washington College', 'Washington College', 0.0),
 ('Boston University', 'Boston University', 0.0),
 ('University of Kentucky', 'University of Kentucky', 0.0),
 ('Adelphi University', 'Adelphi University', 0.0),
 ('Seattle Pacific University', 'Seattle Pacific University', 0.0),
 ('Colorado School of Mines', 'Colorado School of Mines', 0.0),
 ('Montreat College', 'Montreat College', 0.0),
 ('Jacksonville University', 'Jacksonville University', 0.0),
 ('Northwest University', 'Northwest University', 0.0),
 ('Appalachian State University', 'Appalachian State University', 0.0),
 ('Rosemont College', 'Rosemont College', 0.0),
 ('Old Dominion University', 'Old Dominion University', 0.0),
 ('Whittier College', 'Whittier College', 0.0),
 ('University of Central Arkansas', 'University of Central Arkansas', 0.0),
 ('Drew University', 'Drew University', 0.0),
 ('Queens University of Charlotte', 'Queens University of Charlotte', 0.0),
 ('Iona College', 'Iona College', 0.0),
 ('Arcadia University', 'Arcadia University', 0.0),
 ('Florida College', 'Florida College', 0.0),
 ('Western Washington University', 'Western Washington University', 0.0),
 ('University of Dubuque', 'University of Dubuque', 0.0),
 ('University of Detroit Mercy', 'University of Detroit Mercy', 0.0),
 ('Concordia University-Chicago', 'Concordia University-Chicago', 0.0),
 ('Grand View University', 'Grand View University', 0.0),
 ('Drexel University', 'Drexel University', 0.0),
 ('Nichols College', 'Nichols College', 0.0),
 ('Belhaven University', 'Belhaven University', 0.0),
 ('Centenary College', 'Century College', 0.17647058823529413),
 ('William Jewell College', 'William Jewell College', 0.0),
 ('Cornell College', 'Cornell College', 0.0),
 ('Oglethorpe University', 'Oglethorpe University', 0.0),
 ('Endicott College', 'Endicott College', 0.0),

In [32]:
df

,Unnamed: 0,d_names,a_names,sim_score,admit_rate
0,0,North Park,North Park University,0.816497,0.523353
1,1,Oral Roberts,Oral Roberts University,0.816497,0.435427
2,2,Lipscomb,Lipscomb University,0.707107,0.526969
3,3,Saginaw Valley State,Saginaw Valley State University,0.866025,0.786528
4,4,Clemson,Clemson University,0.707107,0.578703
...,...,...,...,...,...
497,497,Eastern Mennonite,Eastern Mennonite University,0.816497,0.650513
498,498,Dallas Baptist,Dallas Baptist University,0.816497,0.423033
499,499,Manchester University,Manchester University,1.000000,0.711617
500,500,George Washington,George Washington University,0.816497,0.330805
501,501,Bridgeport,University of Bridgeport,0.707107,0.638529

In [70]:
act_data = _all[['acten25', 'acten75', 'instnm']]

w_act = act_data.merge(df, how='inner', left_on='instnm', right_on='a_names')

w_act['actmed'] = (w_act.acten25 + w_act.acten75)/2

combined = w_act.merge(pd.read_csv('./data.csv'), left_on = 'd_names', right_on = 'College').dropna()

In [71]:
X = pd.get_dummies(combined[['actmed',
 'Position',
 'Class', 
 'Conference', 
 'latitude', 
 'longitude', 
 #'cluster'
]])

In [110]:
X.shape

(9495, 105)

In [76]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [91]:
le = LabelEncoder()
y = le.fit_transform(combined.College)
model = LogisticRegression(verbose = 2, max_iter = 300)
model.fit(X,y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/Users/mgb/anaconda3/envs/flask/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   31.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   31.8s finished

LogisticRegression(max_iter=300, verbose=2)

In [96]:
sorted(np.exp(model.predict_log_proba(X))[0])

[7.929296460293048e-65,
 3.9774417015972937e-56,
 8.981292360027074e-55,
 1.610121914814996e-54,
 1.0564311985446863e-51,
 9.090128630694996e-50,
 1.309303057255402e-47,
 1.4976675332429246e-46,
 4.600091532091733e-46,
 6.177526207767655e-46,
 6.9327697295540576e-46,
 3.546781271304643e-45,
 6.266588600198898e-45,
 6.493852934232906e-45,
 2.6523158747085335e-43,
 1.0440754028320261e-42,
 3.027295401574966e-42,
 4.07961425333462e-42,
 5.601066732279579e-42,
 8.145293200992152e-40,
 2.2302057655790037e-39,
 3.0637438525757526e-38,
 7.910127824653287e-35,
 3.0684050363700017e-34,
 9.241216904126487e-32,
 1.3588842397905298e-31,
 4.587481362953912e-31,
 1.5304487226947647e-29,
 5.348565229230682e-29,
 1.6163406364756386e-28,
 1.7717523693211617e-27,
 1.8501792112744754e-27,
 3.476503149755451e-27,
 7.92904424781093e-27,
 1.4000470650488028e-26,
 2.6329592915311474e-26,
 8.464477789398821e-26,
 9.869184663274748e-26,
 4.072683263084624e-23,
 6.889430302800297e-23,
 8.931448462422893e-23,
 2.0517029494146837e-22,
 2.8287604844177953e-22,
 1.9024367864191103e-21,
 1.305815142800939e-20,
 3.896111537293423e-20,
 5.740955192760889e-20,
 5.653930943904022e-19,
 9.635526207117508e-19,
 9.690065856950415e-19,
 2.1722673861144257e-18,
 8.70938161114368e-18,
 1.0222949835619909e-17,
 1.178870874315356e-17,
 1.8524439778874183e-17,
 8.153640270903396e-17,
 1.4828277549063838e-16,
 3.9583944673496806e-16,
 4.230612431521161e-15,
 8.120626795857676e-15,
 2.2941478222438515e-13,
 1.529619691015049e-12,
 3.6023966070334e-12,
 9.798302146813112e-12,
 9.799461560434924e-12,
 2.8688452615065636e-11,
 1.0903669239903864e-10,
 1.181062162401361e-10,
 4.937916941172202e-10,
 1.5364813153923653e-09,
 1.5778161117481075e-09,
 1.9712032254142187e-09,
 2.1636726146647056e-09,
 3.6091165247164096e-09,
 1.5407186029746818e-08,
 2.196737885221932e-08,
 2.5799896979568695e-08,
 2.964295163187165e-08,
 3.161023242751936e-08,
 5.53517712757962e-08,
 9.871947814109417e-08,
 1.776651805580115e-07,
 7.378383180266268e-07,
 7.556768591146047e-07,
 1.7593213669401916e-06,
 1.7816837471808223e-06,
 1.8168377302961117e-06,
 1.8641743038828325e-06,
 3.3234449694710797e-06,
 3.640861626544854e-06,
 3.896545549585315e-06,
 3.960214180036224e-06,
 4.1959976704426784e-06,
 6.277558954710565e-06,
 7.12263802734796e-06,
 7.564129952198166e-06,
 9.102728067162942e-06,
 1.0060563022803342e-05,
 1.1397993744139238e-05,
 1.2731153605610127e-05,
 1.723752730412823e-05,
 2.1064118563961895e-05,
 2.4147745811348563e-05,
 2.4236788101167818e-05,
 2.431475118816858e-05,
 2.5393065888875287e-05,
 2.7308493630991413e-05,
 2.8334111470437397e-05,
 3.2603526068087624e-05,
 3.279265446822453e-05,
 3.790505098863323e-05,
 4.0688447797180346e-05,
 4.379769533279319e-05,
 4.7001266295821344e-05,
 5.028306241632965e-05,
 5.211526086368089e-05,
 6.350266490311467e-05,
 6.61067528345425e-05,
 7.02085935378879e-05,
 7.044691844851384e-05,
 7.294326175900088e-05,
 7.304815163149352e-05,
 9.022114720775091e-05,
 9.855354328869154e-05,
 0.00010187961308499181,
 0.00010989151841043792,
 0.00011745227342106462,
 0.00011769740770991906,
 0.00011924857728451005,
 0.0001267962250488518,
 0.00012835096682407618,
 0.0001377478498778123,
 0.00013929444396372205,
 0.00014009814019139318,
 0.0001411177624922555,
 0.00014319949337711203,
 0.0001646453614355011,
 0.00016997557582241923,
 0.00017054953359629487,
 0.00017487175331446132,
 0.00017857987056182808,
 0.00018097414686999425,
 0.00018564962717171256,
 0.0001897740291225466,
 0.00020655094645767786,
 0.00021816176110093849,
 0.00021908865063063911,
 0.0002202044626371668,
 0.00022178699913194788,
 0.00022247838753418442,
 0.00022650539954687904,
 0.0002372630318812658,
 0.00024352137779163046,
 0.00024446606289166533,
 0.0002452650383725318,
 0.00024612902204274555,
 0.00024924886902570403,
 0.0002582562642875338,
 0.0002709267838093594,
 0.00027176562048267624,
 0.00027530148497477224,
 0.0002824721227480118,
 0.00028618433974664074,
 0.00028922012430898,
 0.00030762924283356935,
 0.00033084895610648274,
 0.00034083718457070006,
 0.00034195710220182523,
 0.0003493943462699004,
 0.00035523417835469257,
 0.000369240433919028,
 0.00037006819921240784,
 0.00037571091713391484,
 0.0003768044456936557,
 0.00038226851385619187,
 0.00039108244943245686,
 0.00041126540630954245,
 0.000412292907903757,
 0.00043066169849617907,
 0.00043136624438789645,
 0.00043206387271275325,
 0.0004440784757770251,
 0.00044955965180657387,
 0.00044996720831903814,
 0.00046015410640391075,
 0.00046098332624895536,
 0.0004692447253225458,
 0.00047189594377750163,
 0.0004764699523727984,
 0.0004799891333977414,
 0.0004803718353480144,
 0.0004804128151418489,
 0.0004809367983794477,
 0.0004886429016455906,
 0.0005006914021598644,
 0.0005032541530584151,
 0.0005040093422636986,
 0.0005071679104010658,
 0.0005122784240657305,
 0.0005165834746501115,
 0.0005214734721027456,
 0.0005260662505875573,
 0.0005483945709416534,
 0.0005564666426027398,
 0.0005740157649746563,
 0.0005775691234961177,
 0.0005825069881252437,
 0.0005848297139648975,
 0.0005936982127527421,
 0.0005954295070097424,
 0.0005992187776656341,
 0.0006183303970365836,
 0.0006275042253467932,
 0.0006315890635969685,
 0.0006427160583871285,
 0.0006617450527641123,
 0.0006641035851564877,
 0.0006686377559011826,
 0.0006880582444799343,
 0.0007003571017492508,
 0.0007006216269980897,
 0.0007081580592993908,
 0.0007108847498573193,
 0.0007184630837714987,
 0.0007289094294755467,
 0.0007327754578142275,
 0.0007369718771214246,
 0.0007554414139215706,
 0.0007652324331826491,
 0.0007653636879926694,
 0.000791766384141882,
 0.0007992760885461093,
 0.0008045064079038879,
 0.0008161027299951403,
 0.0008241617129118373,
 0.0008378935414319015,
 0.0008400679332479935,
 0.0008426941853460479,
 0.0008475917230362052,
 0.0008635649941732095,
 0.0008710730338636576,
 0.0008765827079220824,
 0.0008775142506823881,
 0.0008788288971686485,
 0.0008913120493265743,
 0.0008934847861985722,
 0.0008965197839985177,
 0.0009090121378405975,
 0.0009114299946583545,
 0.0009202391040733456,
 0.0009253372025860627,
 0.0009291540721947002,
 0.0009298878246500553,
 0.0009383814735224452,
 0.0009427111144110844,
 0.0009609056899216442,
 0.0009658947471315459,
 0.0009692182824895107,
 0.0009895269321164059,
 0.0009961502904765353,
 0.0010140883074817072,
 0.0010211985704767818,
 0.0010487716455743407,
 0.0010532000310000652,
 0.001056810994407202,
 0.0010583662092807774,
 0.0010606833726393456,
 0.0010738510960675255,
 0.0010759325610019228,
 0.0010769174859497025,
 0.0010862436056996796,
 0.00108641083740288,
 0.001120721084916851,
 0.0011312333932536288,
 0.001137074148207138,
 0.0011737335883228168,
 0.001175362061942488,
 0.0011828107456663267,
 0.0011838960894444556,
 0.0011919454516749447,
 0.001212945340431881,
 0.001223444300402289,
 0.0012346513573688862,
 0.001251465569599732,
 0.0012674204056746983,
 0.0012675611702527782,
 0.0013238422710369455,
 0.001337664709771622,
 0.0013725397373196935,
 0.0013766216725406729,
 0.0013841114426924332,
 0.0013890528957324038,
 0.0013904793294236832,
 0.001393282467020359,
 0.0013965365689033076,
 0.0014220934309852862,
 0.0014499127544454495,
 0.0014754866743578578,
 0.0014893115554643558,
 0.0014934783995412624,
 0.0014971874997905476,
 0.001521349429377755,
 0.0015267397044281498,
 0.0015299046140870032,
 0.0015407477748245147,
 0.0015732190099823065,
 0.001592810457036308,
 0.0015944349278214076,
 0.001618647094962737,
 0.0016248280490187505,
 0.0016425227451486648,
 0.0017639473569603433,
 0.0017791061684313972,
 0.0018211769355512013,
 0.0018463251748758764,
 0.0018620770763703093,
 0.0018699867356156352,
 0.0018982546909665542,
 0.001990921879227805,
 0.002014148825661967,
 0.002032046306651417,
 0.0020441595569845434,
 0.0020777733135279998,
 0.0020817394261305857,
 0.002088684889546049,
 0.002109517993950046,
 0.0021649023959424184,
 0.0021886053535183636,
 0.0021904870840956923,
 0.002200782346801268,
 0.0022330382507377254,
 0.002233510742145573,
 0.002267640782128406,
 0.0023245440673228097,
 0.0023336157152839742,
 0.0023690141454047534,
 0.0023858172734012146,
 0.00245965632430922,
 0.0026058317867865026,
 0.002608020835469961,
 0.002662369005254122,
 0.002737137195575207,
 0.0027572525434499955,
 0.0027740961289006933,
 0.002783875199321567,
 0.00286472014992395,
 0.0028966447573694587,
 0.002962273599602929,
 0.002966631899258704,
 0.003129710974923276,
 0.003237268977499918,
 0.0032635001871480127,
 0.003463323686627721,
 0.003785119562400716,
 0.04517974836218538,
 0.12558418137892124,
 0.17037887645420963,
 0.2053331540140093,
 0.21210019508834477]

In [97]:
from sklearn.naive_bayes import GaussianNB

In [98]:
bayes = GaussianNB()

In [105]:
bayes.fit(X, y).predict_proba(X)

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])