In [7]:
import pandas as pd
from pypeds import ipeds

In [29]:
data = pd.read_csv('./data.csv')
ipeds_matches = pd.read_csv('./ipeds_matches.csv')
ipeds_matches.columns = ['_', 'a_names', 'ipeds_names', 'distance']
name_matches = pd.read_csv('./name_matches.csv')

In [10]:
hd_df = pd.read_csv('./hd_df.csv')
ic_df = pd.read_csv('./ic_df.csv')

In [11]:
_all = ic_df.merge(hd_df, how='inner', on = "unitid")

In [33]:
_all.columns

Index(['Unnamed: 0_x', 'unitid', 'peo1istr', 'peo2istr', 'peo3istr',
       'peo4istr', 'peo5istr', 'peo6istr', 'cntlaffi', 'pubprime',
       ...
       'necta', 'countycd', 'countynm', 'cngdstcd', 'longitud', 'latitude',
       'dfrcgid', 'dfrcuscg', 'survey_year_y', 'fall_year_y'],
      dtype='object', length=266)

In [30]:
ipeds_matches

,_,a_names,ipeds_names,distance
0,0,North Park University,North Park University,0.0
1,1,Oral Roberts University,Oral Roberts University,0.0
2,2,Lipscomb University,Lipscomb University,0.0
3,3,Saginaw Valley State University,Saginaw Valley State University,0.0
4,4,Clemson University,Clemson University,0.0
...,...,...,...,...
497,497,Eastern Mennonite University,Eastern Mennonite University,0.0
498,498,Dallas Baptist University,Dallas Baptist University,0.0
499,499,Manchester University,Manchester University,0.0
500,500,George Washington University,George Washington University,0.0
501,501,University of Bridgeport,University of Bridgeport,0.0

In [50]:
'''data_and_nm = data.merge(name_matches, how='inner', left_on = 'College', right_on = 'd_names')

data_ipeds = data_and_nm.merge(ipeds_matches, how = 'inner', on = 'a_names' )

combined = data_ipeds.merge(_all, how= 'inner', left_on = "ipeds_names", right_on = "instnm" )'''

'data_and_nm = data.merge(name_matches, how=\'inner\', left_on = \'College\', right_on = \'d_names\')\n\ndata_ipeds = data_and_nm.merge(ipeds_matches, how = \'inner\', on = \'a_names\' )\n\ncombined = data_ipeds.merge(_all, how= \'inner\', left_on = "ipeds_names", right_on = "instnm" )'

In [52]:
act_data = _all[['acten25', 'acten75', 'instnm']]

w_act = act_data.merge(pd.read_csv('./name_matches.csv'), how='inner', left_on='instnm', right_on='a_names')

w_act['actmed'] = (w_act.acten25 + w_act.acten75)/2

combined = w_act.merge(pd.read_csv('./data.csv'), left_on = 'd_names', right_on = 'College').dropna()

In [53]:
combined['actmed'] = (combined.acten25 + combined.acten75)/2
cols = ['actmed',
 'Position',
 'Class', 
 'Conference', 
 'latitude', 
 'longitude', 
 'cluster'
]

In [95]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [64]:
X = pd.get_dummies(combined[cols])

In [65]:
le = LabelEncoder()

In [71]:
y = le.fit_transform(combined['College'])

In [72]:
lm = LogisticRegression(max_iter = 300)

In [73]:
lm.fit(X,y)

C:\Users\Ty Gelman\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Ty Gelman\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=300,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [81]:
p1 = lm.predict_proba(X)[0]

In [89]:
p1list = list(enumerate(p1))
p1list.sort(key= lambda x: x[1], reverse=True)
[(le.inverse_transform([i]), p) for i,p in p1list]

[(array(['Alabama-Huntsville'], dtype=object), 0.3350094563929545),
 (array(['Lee'], dtype=object), 0.1893370142314327),
 (array(['West Florida'], dtype=object), 0.17586037218880263),
 (array(['Montevallo'], dtype=object), 0.07221320851326947),
 (array(['Spring Hill'], dtype=object), 0.030042195321608577),
 (array(['Covenant'], dtype=object), 0.006378734691731663),
 (array(['South Dakota School of Mines'], dtype=object),
  0.0050212681644814135),
 (array(['North Greenville'], dtype=object), 0.004458337706219019),
 (array(['Washington and Lee'], dtype=object), 0.004409654516633345),
 (array(['Kenyon'], dtype=object), 0.004353052013332225),
 (array(['Furman'], dtype=object), 0.003631593095353046),
 (array(['Michigan State'], dtype=object), 0.0035967163337207266),
 (array(['Truman State'], dtype=object), 0.0031795429681690203),
 (array(['Boston University'], dtype=object), 0.0030690799432350033),
 (array(['Grinnell'], dtype=object), 0.0030012538518958253),
 (array(['Massachusetts Institute of Technology'], dtype=object),
  0.0028894630911561713),
 (array(['Case Western Reserve'], dtype=object), 0.002734866617325897),
 (array(['Bellarmine'], dtype=object), 0.0027197683516580673),
 (array(['Centre'], dtype=object), 0.0025953475392312473),
 (array(['John Carroll'], dtype=object), 0.002572182659517557),
 (array(['Texas-Dallas'], dtype=object), 0.002513679282810894),
 (array(['New York Institute of Technology'], dtype=object),
  0.0024139261756432368),
 (array(['Lipscomb'], dtype=object), 0.0023883694673593418),
 (array(['Johns Hopkins'], dtype=object), 0.002346016620487539),
 (array(['Colgate'], dtype=object), 0.002305118386441806),
 (array(['Northeastern'], dtype=object), 0.0022504751108773737),
 (array(['Pittsburgh'], dtype=object), 0.002250013717213131),
 (array(['Queens University of Charlotte'], dtype=object),
  0.0022299441924317344),
 (array(['Regis'], dtype=object), 0.002170687035964605),
 (array(['Clemson'], dtype=object), 0.002169854825144308),
 (array(['Drake'], dtype=object), 0.002132388846739789),
 (array(['Taylor'], dtype=object), 0.0020364353204103797),
 (array(['Gordon'], dtype=object), 0.002025819599120951),
 (array(['Wofford'], dtype=object), 0.0020209811767987703),
 (array(['Dartmouth'], dtype=object), 0.0020115094031738787),
 (array(['Williams'], dtype=object), 0.001998289246329389),
 (array(['Hanover College'], dtype=object), 0.0019358622521847833),
 (array(['Eckerd'], dtype=object), 0.001921120407845909),
 (array(['University of Chicago'], dtype=object), 0.0018374560557719464),
 (array(['Messiah'], dtype=object), 0.0018025737196539786),
 (array(['Yale'], dtype=object), 0.0017952586084378469),
 (array(['George Washington'], dtype=object), 0.0017707648274064233),
 (array(['Wartburg'], dtype=object), 0.0017628469744957983),
 (array(['Holy Cross (Ind.)'], dtype=object), 0.001663142080973963),
 (array(['Hendrix'], dtype=object), 0.0016406322884795462),
 (array(['Stanford'], dtype=object), 0.0016362251701826432),
 (array(['Saint Louis'], dtype=object), 0.00161223715276209),
 (array(['Tulsa'], dtype=object), 0.0016010666343353947),
 (array(['Macalester'], dtype=object), 0.001530503564068383),
 (array(['Florida Southern'], dtype=object), 0.0014682372530061692),
 (array(['Nebraska Wesleyan'], dtype=object), 0.0014668572366949378),
 (array(['Berry'], dtype=object), 0.001433194730673038),
 (array(['Northern Kentucky'], dtype=object), 0.0014269291739646168),
 (array(['Trine'], dtype=object), 0.0014039845119581697),
 (array(['Boston College'], dtype=object), 0.0014004366778221096),
 (array(['Ouachita Baptist'], dtype=object), 0.0013918052275005476),
 (array(['Stony Brook'], dtype=object), 0.0013682571355787244),
 (array(['Albion'], dtype=object), 0.001308333691217132),
 (array(['Cedarville'], dtype=object), 0.001305956608784431),
 (array(['Bentley'], dtype=object), 0.0012785106953468691),
 (array(['Newman'], dtype=object), 0.0012562176212546276),
 (array(['Michigan'], dtype=object), 0.0012508854289911143),
 (array(['Duke'], dtype=object), 0.0012456803198929768),
 (array(['Harding'], dtype=object), 0.0011548603256441897),
 (array(['Oklahoma Christian'], dtype=object), 0.0011331997063775314),
 (array(['Harvard'], dtype=object), 0.0010593717738145692),
 (array(['Vermont'], dtype=object), 0.0010274695121331057),
 (array(['Loyola-Chicago'], dtype=object), 0.001018009947785219),
 (array(['Webster'], dtype=object), 0.0010135693748446833),
 (array(['Milligan'], dtype=object), 0.0010133433061919861),
 (array(['Florida Tech'], dtype=object), 0.00098573120479271),
 (array(['Carnegie Mellon'], dtype=object), 0.0009769311233723873),
 (array(['Charlotte'], dtype=object), 0.0009766808159220029),
 (array(['Charleston'], dtype=object), 0.0008622434363053885),
 (array(['Louisville'], dtype=object), 0.0008509392344232784),
 (array(['Oberlin'], dtype=object), 0.0008488838756450534),
 (array(['Manhattan'], dtype=object), 0.0008190805949191863),
 (array(['King University'], dtype=object), 0.0007983440275529912),
 (array(['San Diego'], dtype=object), 0.0007969021435179054),
 (array(['Denver'], dtype=object), 0.0007838844551557772),
 (array(['Nova Southeastern'], dtype=object), 0.0007515375142540874),
 (array(['High Point'], dtype=object), 0.0007483787290924922),
 (array(['Hawaii Pacific'], dtype=object), 0.0007463459372049611),
 (array(['Concordia-Wisconsin'], dtype=object), 0.0007451447414702694),
 (array(['Princeton'], dtype=object), 0.0007004500631224227),
 (array(['Kentucky'], dtype=object), 0.0006949284604977299),
 (array(['UC Santa Barbara'], dtype=object), 0.0006782133845480202),
 (array(['Bradley'], dtype=object), 0.000654344047157911),
 (array(['Duquesne'], dtype=object), 0.0006425019679198264),
 (array(['Bryan College'], dtype=object), 0.0006398531855458466),
 (array(['Lehigh'], dtype=object), 0.0006218549824674013),
 (array(['Lincoln Memorial'], dtype=object), 0.000616593150615033),
 (array(['Appalachian State'], dtype=object), 0.0006061396437870537),
 (array(['Earlham'], dtype=object), 0.000603045103055697),
 (array(['Gonzaga'], dtype=object), 0.0005990063974043169),
 (array(['Fordham'], dtype=object), 0.0005916691670821019),
 (array(['Ohio Northern'], dtype=object), 0.0005820712709829969),
 (array(['Brown'], dtype=object), 0.00057978385643027),
 (array(['Texas-Tyler'], dtype=object), 0.0005704765755612544),
 (array(['Howard'], dtype=object), 0.0005661817952782219),
 (array(['Wisconsin'], dtype=object), 0.0005645393551459065),
 (array(['Georgetown'], dtype=object), 0.0005535551173886807),
 (array(['Midwestern State'], dtype=object), 0.0005528912519755293),
 (array(['Florida International'], dtype=object), 0.000546756182768335),
 (array(['Mercer'], dtype=object), 0.0005307990562286644),
 (array(['Colby'], dtype=object), 0.0005296351674993862),
 (array(['Lewis'], dtype=object), 0.0005148026464038867),
 (array(['George Mason'], dtype=object), 0.0005087316020069194),
 (array(['Creighton'], dtype=object), 0.0004995358432628753),
 (array(['Detroit Mercy'], dtype=object), 0.0004987253693628984),
 (array(['Lindenwood - Belleville'], dtype=object), 0.0004970861603116358),
 (array(['Illinois-Springfield'], dtype=object), 0.0004925661121751505),
 (array(['Valparaiso'], dtype=object), 0.0004922321745733044),
 (array(['Elon'], dtype=object), 0.0004885051450524554),
 (array(['Southern Virginia'], dtype=object), 0.00047887021610571546),
 (array(['Providence'], dtype=object), 0.00047786608376501063),
 (array(['Butler'], dtype=object), 0.0004697988062814439),
 (array(['Carthage'], dtype=object), 0.0004477538021250522),
 (array(['Loyola (MD)'], dtype=object), 0.0004446634365971176),
 (array(['Dayton'], dtype=object), 0.0004281646373374247),
 (array(['Lindenwood'], dtype=object), 0.00042444400818265893),
 (array(['Belmont'], dtype=object), 0.0004199450239659761),
 (array(['Dominican (N.Y.)'], dtype=object), 0.00041848982052520857),
 (array(['Palm Beach Atlantic'], dtype=object), 0.00040340985312239643),
 (array(['Oral Roberts'], dtype=object), 0.0004031326194525278),
 (array(['Martin Luther'], dtype=object), 0.00039645581306870035),
 (array(['Saint Francis (PA)'], dtype=object), 0.0003962711600211255),
 (array(['Minnesota-Morris'], dtype=object), 0.0003936175082262368),
 (array(['Houston Baptist'], dtype=object), 0.0003793522525340191),
 (array(['Franklin'], dtype=object), 0.0003786028556172711),
 (array(['Roanoke College'], dtype=object), 0.0003735004547005845),
 (array(['East Tennessee State'], dtype=object), 0.00037350006404170827),
 (array(['University of Dallas'], dtype=object), 0.0003673668679980029),
 (array(['Evansville'], dtype=object), 0.00036610037464332803),
 (array(['Buena Vista'], dtype=object), 0.0003659175545568577),
 (array(['Lafayette'], dtype=object), 0.0003566391067877258),
 (array(['Colorado Mesa University'], dtype=object), 0.00035060060570015617),
 (array(['Marquette'], dtype=object), 0.0003493859559309686),
 (array(['Haverford'], dtype=object), 0.00033878708309790384),
 (array(['Hamline'], dtype=object), 0.00033187060977849013),
 (array(['Avila'], dtype=object), 0.00032939666026682405),
 (array(['Drury'], dtype=object), 0.0003286336929477786),
 (array(['Trinity (Conn.)'], dtype=object), 0.0003281499471500246),
 (array(['Wisconsin-Oshkosh'], dtype=object), 0.00032095944033286403),
 (array(['William Jewell'], dtype=object), 0.0003181495287642306),
 (array(['St. Bonaventure'], dtype=object), 0.00029245575823227997),
 (array(['Bucknell'], dtype=object), 0.0002918166326534533),
 (array(['McKendree University'], dtype=object), 0.00028826165310672283),
 (array(['Le Moyne'], dtype=object), 0.00028784337825431104),
 (array(['Drexel'], dtype=object), 0.0002847177567909928),
 (array(['Omaha'], dtype=object), 0.00028414929805870297),
 (array(['West Virginia'], dtype=object), 0.0002819209470725876),
 (array(['Capital'], dtype=object), 0.0002799590214155782),
 (array(['Jacksonville'], dtype=object), 0.00027769733915600323),
 (array(['Adelphi'], dtype=object), 0.0002764847730118798),
 (array(['Villanova'], dtype=object), 0.00027205358109847193),
 (array(['South Florida'], dtype=object), 0.00026919945583562925),
 (array(['Connecticut'], dtype=object), 0.0002631152986498628),
 (array(['Quinnipiac'], dtype=object), 0.0002554254529452969),
 (array(['Otterbein'], dtype=object), 0.0002457369374113312),
 (array(['Oglethorpe'], dtype=object), 0.00023354039440040192),
 (array(['Western Michigan'], dtype=object), 0.00022902601435208274),
 (array(['Edgewood'], dtype=object), 0.000225897184363762),
 (array(['Monmouth College'], dtype=object), 0.0002243846915173614),
 (array(['Seattle'], dtype=object), 0.00022387085250696005),
 (array(['South Carolina-Aiken'], dtype=object), 0.00022305340831274271),
 (array(['Saint Leo'], dtype=object), 0.00022144525096058098),
 (array(['Thomas College'], dtype=object), 0.00021924100973690677),
 (array(['Auburn Montgomery'], dtype=object), 0.00021585182075907662),
 (array(['North Central College'], dtype=object), 0.00020927994855350548),
 (array(['Marshall'], dtype=object), 0.00020555844015604171),
 (array(['Malone'], dtype=object), 0.00020104245154978356),
 (array(['Wells'], dtype=object), 0.00020059732794914864),
 (array(['Hofstra'], dtype=object), 0.0001934954619525923),
 (array(['Allegheny College'], dtype=object), 0.00019283085221404663),
 (array(['Pacific'], dtype=object), 0.0001920761521605023),
 (array(['Loyola Marymount'], dtype=object), 0.00019084641174343313),
 (array(['LaGrange'], dtype=object), 0.00018803507060159748),
 (array(['Hastings'], dtype=object), 0.00018770064918836797),
 (array(['University of Rochester'], dtype=object), 0.0001857319191596066),
 (array(['LeTourneau'], dtype=object), 0.00018377008515518036),
 (array(['Holy Cross'], dtype=object), 0.00018076798545510367),
 (array(['North Florida'], dtype=object), 0.0001777707922527543),
 (array(['Oakland'], dtype=object), 0.00017388751152830304),
 (array(['American'], dtype=object), 0.0001729369099639673),
 (array(['Delaware'], dtype=object), 0.00017130790054642543),
 (array(['Waynesburg'], dtype=object), 0.0001617107798427944),
 (array(['Ohio Dominican University'], dtype=object), 0.0001560594674715351),
 (array(['York (Pa.)'], dtype=object), 0.00015435933813765713),
 (array(['Crown'], dtype=object), 0.0001510979107557322),
 (array(['Colorado Mines'], dtype=object), 0.0001491435344457422),
 (array(['Eastern Mennonite'], dtype=object), 0.00014438973939542626),
 (array(['Concordia-Chicago'], dtype=object), 0.0001426419250648077),
 (array(['Clarke'], dtype=object), 0.00014114255700906092),
 (array(['Redlands'], dtype=object), 0.00013991455559180194),
 (array(['Virginia'], dtype=object), 0.00013839862686217553),
 (array(['Hannibal-LaGrange'], dtype=object), 0.00013682041695195618),
 (array(['Campbell'], dtype=object), 0.00013674021933275204),
 (array(['Portland'], dtype=object), 0.0001350764155452914),
 (array(['Lesley'], dtype=object), 0.000130597869291811),
 (array(['Georgia State'], dtype=object), 0.00012954743408136857),
 (array(['Syracuse'], dtype=object), 0.00012610931002223936),
 (array(['Oregon State'], dtype=object), 0.0001244415965360419),
 (array(['New Haven'], dtype=object), 0.00012366855280264742),
 (array(['Florida Atlantic'], dtype=object), 0.00012359408292041184),
 (array(['Northern Illinois'], dtype=object), 0.00011571307696988943),
 (array(['Saginaw Valley State'], dtype=object), 0.00011547898995561975),
 (array(['Robert Morris'], dtype=object), 0.00011362786605568344),
 (array(['Huntingdon'], dtype=object), 0.00011269898575362618),
 (array(['Lander'], dtype=object), 0.00011234642001919734),
 (array(['Adrian'], dtype=object), 0.00011068986156372727),
 (array(['UC Riverside'], dtype=object), 0.00010938984809471497),
 (array(['Saint Vincent'], dtype=object), 0.00010934701913270851),
 (array(['Rider'], dtype=object), 0.00010471250057335198),
 (array(['Eastern New Mexico'], dtype=object), 0.00010418969254905352),
 (array(['Xavier'], dtype=object), 0.000101610872558561),
 (array(['Akron'], dtype=object), 9.655080951615654e-05),
 (array(['St. Francis Brooklyn'], dtype=object), 9.261789079862574e-05),
 (array(['San Francisco'], dtype=object), 9.189833099728461e-05),
 (array(['SUNY Purchase'], dtype=object), 9.177157559234385e-05),
 (array(['Cleveland State'], dtype=object), 9.120843959539132e-05),
 (array(['Liberty'], dtype=object), 8.942784227600385e-05),
 (array(['Lebanon Valley'], dtype=object), 8.62407656808158e-05),
 (array(['College of Charleston'], dtype=object), 8.384388898435923e-05),
 (array(['Mount Aloysius'], dtype=object), 8.356388431340247e-05),
 (array(['Misericordia'], dtype=object), 8.297332270179143e-05),
 (array(['San Jose State'], dtype=object), 8.048919825218494e-05),
 (array(['Georgia Southwestern'], dtype=object), 7.772575216993844e-05),
 (array(['North Park'], dtype=object), 7.725890234559229e-05),
 (array(['UC San Diego'], dtype=object), 7.65239035285011e-05),
 (array(['Hiram'], dtype=object), 7.361503211490938e-05),
 (array(['Central Arkansas'], dtype=object), 7.239794086058808e-05),
 (array(['Central College'], dtype=object), 7.205063346297309e-05),
 (array(['Maine Maritime'], dtype=object), 7.194811835443435e-05),
 (array(['Georgia Southern'], dtype=object), 7.019964256131685e-05),
 (array(['Fort Lewis'], dtype=object), 6.894488361033189e-05),
 (array(['Springfield'], dtype=object), 6.831541124156753e-05),
 (array(['Millikin'], dtype=object), 6.825293029194927e-05),
 (array(['UNC Asheville'], dtype=object), 6.700719189804622e-05),
 (array(['Rutgers-Camden'], dtype=object), 6.660595784541356e-05),
 (array(['Catawba'], dtype=object), 6.53125104330848e-05),
 (array(['Cornell'], dtype=object), 6.393381919223996e-05),
 (array(['Massachusetts-Lowell'], dtype=object), 6.269161558072447e-05),
 (array(['Concord'], dtype=object), 6.0925973404583056e-05),
 (array(['Niagara'], dtype=object), 6.080030215319471e-05),
 (array(['Colorado State-Pueblo'], dtype=object), 6.0697552780164665e-05),
 (array(['Texas A&M International'], dtype=object), 6.0085515761063176e-05),
 (array(['UNC-Pembroke'], dtype=object), 5.783382493085275e-05),
 (array(['University of New England'], dtype=object), 5.726434131764307e-05),
 (array(['Northwest (Wash.)'], dtype=object), 5.6965787367880904e-05),
 (array(['Bloomsburg'], dtype=object), 5.695890017720086e-05),
 (array(['North Carolina'], dtype=object), 5.5882273366520295e-05),
 (array(['Arcadia'], dtype=object), 5.550420332647441e-05),
 (array(['Bridgewater'], dtype=object), 5.5175439996038904e-05),
 (array(['Memphis'], dtype=object), 5.494706538411656e-05),
 (array(['Wheeling Jesuit University'], dtype=object), 5.313065609427131e-05),
 (array(['Brandeis'], dtype=object), 5.313025267625335e-05),
 (array(['SUNY New Paltz'], dtype=object), 5.2415451586665054e-05),
 (array(['Southwestern'], dtype=object), 5.226193105372819e-05),
 (array(['Cal State Fullerton'], dtype=object), 5.218669898694394e-05),
 (array(['Northeastern State'], dtype=object), 5.076671233015555e-05),
 (array(['Green Mountain'], dtype=object), 4.740403049162472e-05),
 (array(['Biola'], dtype=object), 4.628369736999105e-05),
 (array(['Rockhurst'], dtype=object), 4.5788294658567954e-05),
 (array(['Huntington'], dtype=object), 4.399982186220609e-05),
 (array(['Monmouth'], dtype=object), 4.3769163181109366e-05),
 (array(['West Texas A&M'], dtype=object), 4.316557161841183e-05),
 (array(['Western Illinois'], dtype=object), 4.3009343022845894e-05),
 (array(['Francis Marion'], dtype=object), 4.186942823640755e-05),
 (array(['Pfeiffer'], dtype=object), 3.9222107331293035e-05),
 (array(['Indiana'], dtype=object), 3.7384236151029836e-05),
 (array(['Bowling Green'], dtype=object), 3.6906058843636115e-05),
 (array(['Elizabethtown'], dtype=object), 3.6126967225649595e-05),
 (array(['Penn State-Altoona'], dtype=object), 3.520363097722611e-05),
 (array(['Grand Canyon'], dtype=object), 3.4030474031736984e-05),
 (array(['Piedmont'], dtype=object), 3.269805626300545e-05),
 (array(['San Diego State'], dtype=object), 3.200022802634169e-05),
 (array(['East Texas Baptist'], dtype=object), 3.171554068200831e-05),
 (array(['Western Washington'], dtype=object), 3.131233012145592e-05),
 (array(['USC Upstate'], dtype=object), 3.097417993937009e-05),
 (array(['Wisconsin-Whitewater'], dtype=object), 2.950538952644606e-05),
 (array(["Saint Joseph's (Maine)"], dtype=object), 2.8625192396844683e-05),
 (array(['Newberry'], dtype=object), 2.806109205608688e-05),
 (array(['Methodist'], dtype=object), 2.764558084641789e-05),
 (array(['Menlo'], dtype=object), 2.713322626007264e-05),
 (array(['Indianapolis'], dtype=object), 2.6602909729683746e-05),
 (array(['Rosemont'], dtype=object), 2.6377483648939144e-05),
 (array(['Tampa'], dtype=object), 2.614764930033017e-05),
 (array(['Greensboro College'], dtype=object), 2.592032564215556e-05),
 (array(['West Virginia Wesleyan'], dtype=object), 2.4641147792375465e-05),
 (array(['Metropolitan State College-Denver'], dtype=object),
  2.4540994641800606e-05),
 (array(['Holy Family'], dtype=object), 2.3107481902377833e-05),
 (array(['Marietta'], dtype=object), 2.2968234503914857e-05),
 (array(['Notre Dame College'], dtype=object), 2.264778137578505e-05),
 (array(['Wisconsin-Milwaukee'], dtype=object), 2.23003299686238e-05),
 (array(['Seattle Pacific'], dtype=object), 2.2132564247440584e-05),
 (array(['SUNY Brockport'], dtype=object), 2.0876382525166197e-05),
 (array(['Cal Poly Pomona'], dtype=object), 2.0075828186523463e-05),
 (array(['Whitworth'], dtype=object), 1.9362878401129363e-05),
 (array(['Bridgeport'], dtype=object), 1.8802303972687936e-05),
 (array(['Old Dominion'], dtype=object), 1.822552154185009e-05),
 (array(['Rutgers'], dtype=object), 1.6392635984222647e-05),
 (array(['Northwest Nazarene'], dtype=object), 1.5898934884565012e-05),
 (array(['Missouri State'], dtype=object), 1.5440496784558235e-05),
 (array(['Holy Names'], dtype=object), 1.4693680607290961e-05),
 (array(['Arizona Christian'], dtype=object), 1.4359849993163315e-05),
 (array(['Southern Connecticut'], dtype=object), 1.3997917820685434e-05),

In [109]:
import numpy as np
r = np.array([X[c].sample(1).values for c in X]).T

In [91]:
from sklearn.naive_bayes import GaussianNB

In [92]:
bayes = GaussianNB()

In [93]:
bayes.fit(X,y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [112]:
sorted(bayes.predict_proba(r)[0]*100)

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0009951932069560679,
 1.2774723662648124,
 1.5935411814164868,
 1.8409688454231867,
 3.55809007464822,
 4.711561652550946,
 24.328765395285266,
 62.688605295971044]